.textnew{
	font-size: 50px;
	color: green;
	position: absolute;
	top: 1100px;
	left: 50px;
}
.p {
	position: absolute;
	font-size: 20px;
	top: 1200px;
	left: 560px;

}
.p2{
	position: absolute;
	font-size: 20px;
	top: 1400px;
	left: 560px;
}
.p3{
	position: absolute;
	font-size: 20px;
	top: 100px;
	left: 560px;
}