.textnew{
	font-size: 50px;
	color: green;
	position: absolute;
	top: 540px;
	left: 50px;
}
.p {
	position: absolute;
	font-size: 20px;
	top: 690px;
	left: 760px;

}
.p2{
	position: absolute;
	font-size: 20px;
	top: 860px;
	left: 760px;
}