.table1{
	position: relative;
	top: 2400px;
	width: 100%;
}

.photo1{
		
		top: 700px;
		left: 30px;
		position: absolute;

}
.photo2{
		
		left: 30px;
		top: 1100px;
		
position: absolute;

}
.photo3{
	
	top: 1500px;
	left: 30px;
position: absolute;

}
.photo4{

	top: 1920px;
	left: 30px;
position: absolute;

}